@import "./assets/fonts/metropolis.css";
@import "https://unpkg.com/ionicons@4.5.10-0/dist/css/ionicons.min.css";

:root {
  --border: rgba(0,0,0,.2);
  --shadow: rgba(0,0,0,.1);
  --heading: #000;
  --primary: #4d1a66;
  --text: #000;
  --textAlt: #fff;
  --inactive: rgba(0,0,0,.3);
  --backgroundElevated: #fff;
  --backgroundBase: #f2f2f7;
  --radius: 10px;
}

*,
::before,
::after {
  box-sizing: border-box;
}

html,
body {
  font-family: "Metropolis", -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--backgroundBase);
  color: var(--text);
  font-size: 20px;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h1, .h1 {
  font-weight: 700;
  font-size: 50px;
  line-height: 60px;
  margin: 20px 0;
  color: var(--primary);
}

h2, .h2 {
  font-weight: 400;
  font-size: 40px;
  line-height: 60px;
  margin: 20px 0;
}

h3, .h3 {
  font-weight: 700;
  font-size: 36px;
  line-height: 45px;
  margin: 10px 0;
}

h4, .h4 {
  font-weight: 400;
  font-size: 30px;
  line-height: 45px;
  margin: 10px 0;
}

h5, .h5 {
  font-weight: 700;
  font-size: 26px;
  line-height: 36px;
  margin: 10px 0;
}

.sectionWithMenu {
  padding: 160px 100px 100px;
}

.pad100 {
  padding: 100px;
}

/* HERO */
#hero {
  min-height: 750px;
  max-height: 100vh;
  height: 100vh;
  width: 100vw;
  background: linear-gradient(to left, #000000, #4d1a66);
  background-size: cover;
  color: #ffffff;
  z-index: 95;
  position: relative;
}

#hero-div {
  width: 600px;
  margin: 0 auto;
}

#hero-logo {
  width: 100px;
  margin-bottom: 60px;
}
/* APP MENU */

#app-menu {
  position: fixed;
  background: transparent;
  top: 0;
  left: 0;
  right: 0;
  height: 80px;
  color: var(--textAlt);
  z-index: 100;
  display: flex;
  justify-content: space-between;
}

#app-menu.gradientBg {
  background: linear-gradient(to left, #000000, #4d1a66);
}

#app-menu img {
  margin: 10px;
  height: 60px;
  width: 160px;
  cursor: pointer;
}

#app-menubar {
  font-weight: 700;
  line-height: 20px;
  padding: 30px;
  display: flex;
  cursor: pointer;
}

.menu-item {
  margin-right: 25px;
  opacity: 0.5;
  text-transform: capitalize;
  transition: opacity 0.3s ease;
}

.menu-item:hover {
  opacity: 0.9;
}

.menu-item.active,
.menu-item:active {
  opacity: 1;
}

/* COMMON */

a {
  color: inherit;
  text-decoration: none;
  transition: color 0.3s ease;
}

a:hover:not(.menu-item, .icon-link) {
  color: var(--primary);
}

.hidden {
  /*display: none;*/
  opacity: 0;
}

.visible {
  /*display: block;*/
  opacity: 1;
}

.flex {
  display: flex;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-column {
  flex-direction: column;
}

summary {
  outline: none;
}

/* SERVICES */

.serviceBox {
  min-width: 250px;
  width: auto;
  height: 150px;
  margin: 10px;
  border-radius: var(--radius);
  padding: 15px 20px;
  box-shadow: 0 0 20px 0 var(--shadow);
  flex-grow: 1;
  position: relative;
  background-color: var(--backgroundElevated);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.serviceBox .overlay {
  background: linear-gradient(to top, #000000, #4d1a66);
  border-radius: var(--radius);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0.5;
  transition: all 300ms;
  user-select: none;
  pointer-events: none;
}

.serviceBox .content{
  position: absolute;
  opacity: 0;
  transition: all 300ms;
  pointer-events: none;
  top: 20px;
  left: 20px;
  right: 20px;
  bottom: 20px;
}


.serviceBox h5 {
  color: var(--text);
  position: absolute;
  bottom: 4px;
  left: 20px;
  right: 20px;
  opacity: 1;
  transition: all 300ms;
}

.serviceBox:hover .overlay, .serviceBox:hover .content{
  opacity: 1;
}

.serviceBox:hover h5 {
  opacity: 0;
}

.serviceBox.special {
  background-color: var(--primary);
  color: var(--textAlt);
}

@media screen and (max-width: 700px) {
  h1 {
    font-size: 40px;
    line-height: 50px;
    margin: 15px 0;
  }

  h2 {
    font-size: 35px;
    line-height: 50px;
    margin: 15px 0;
  }

  h3 {
    font-size: 30px;
    line-height: 40px;
    margin: 10px 0;
  }

  h4 {
    font-size: 26px;
    line-height: 40px;
    margin: 10px 0;
  }

  #hero {
    max-height: inherit;
    height: auto;
  }
  #hero-div {
    width: auto;
    margin: 0 auto;
  }

  #hero-logo {
    width: 100px;
    margin-bottom: 40px;
  }
  .pad100 {
    padding-left: 40px;
    padding-right: 40px;
  }
}
